<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trombinoscope.Properties.Settings.NorthwindConnectString"
            connectionString="Data Source=FORMDEV16-DE\IP08R2;Initial Catalog=Northwind;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>