<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Winforms_exercices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Winforms_exercices.Properties.Settings>
            <setting name="CheminDossier" serializeAs="String">
                <value />
            </setting>
            <setting name="nbTotFi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nbFichCs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NbFichLon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListFichPro" serializeAs="String">
                <value>True</value>
            </setting>
        </Winforms_exercices.Properties.Settings>
    </userSettings>
</configuration>